<div class="container">
  <h1> We are live working with Ruby on rails </h1>
  <%=image_tag("working.svg", :alt => "working from home", class: "img_fluid")%>
  <p>Hello, Rails i'm the <strong>E X T I N G U I S H E R </strong></p>
</div>
